In [ ]:
Assignment - 2
Name- Ananya Bhaskar

In [ ]:
#Q1- How do you comment code in python? What are the different types of comments?

Ans- Comments in python are identified with a hash symbol, #, and extend to the end of the line.
There are three types of comments: single-line, multi-line, and docstring comment

In [ ]:
#Q2- What are variables in python? How do you declare and assign values in variables.

Ans- A Python variable is a symbolic name that is a reference or pointer to an object.
Once an object is assigned to a variable, you can refer to the object by that name.
But the data itself is still contained within the object.
Value is assigned to a a variable with the help of '=' equals to operator.
For example- 
a = 200
where a is a variable.

In [ ]:
#Q3- How do you convert one data type to another in pyhton?

Ans- To convert between types, you simply use the type name as a function.
There are several built-in functions to perform conversion from one data type to another.
These functions return a new object representing the converted value.

for example-

s= 2,3,4,5
list(s)
[2,3,4,5]
str(s)
'(2, 3, 4, 5)'
bool(s)
True

In [ ]:
#Q4- How do you write and execute a python script from the command line?

Ans- To run Python scripts with the python command, you need to open a command-line
and type in the word python , or python3 if you have both versions, followed by the path to your script.

For example- ke this: python first_script.py Hello World!
Then you hit the ENTER button from the keyboard, and that's it.

In [9]:
#Q5- Given a list my_list = [1,2,3,4,5], write the code to slice the list and obtain the sub list [2,3]
#Ans-

my_list= [1,2,3,4,5]
new_list= my_list[1:3]

In [10]:
new_list

[2, 3]

In [ ]:
#Q6- What is a complex number in mathematics, and how it is represented in python?

Ans- Complex numbers are the numbers that are expressed in the form of a+ib where,
a,b are real numbers and 'i' is an imaginary number called “iota”.
The value of i = (√-1). For example, 2+3i is a complex number, where 2 is a real number
(Re) and 3i is an imaginary number (Im).

In python, complex number are expressed with the help on an imaginary number 'j'
For example- 5+6j (j is the imaginary number here while 5 and 6 are real numbers)

In [ ]:
#Q7- What is the correct way tto declare a variable age and assign the vlue 25 to it?

Ans- 
1- Create a variable with the name 'age'
2- Assign the value with the help of = operator

For example- 
age = 25

In [6]:
#Q8- Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

#Ans- 

price= 9.99
type(price)

#float

float

In [4]:
#Q9- Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

#Ans-

Name= 'Ananya Bhaskar'
print(Name)

#Output- Ananya Bhaskar

#We can print the value with the help of function print.

Ananya Bhaskar

In [5]:
#Q10- Given the string "Hello, World!", extract the substring "World".

#Ans- 

s= 'Hello, World!'
s[7:12]

'World'

In [1]:
#Q11- Create a variable named "is_student" and assign it a boolean value indicating wheather you are currently a student or not.

is_student = True

In [2]:
type(is_student)

bool