In [ ]:
Assignment - 1
Name- Ananya Bhaskar

In [ ]:
#Q1- Create one variable containing following data type:
#(i)string
a = "This is my string"
#(ii)list
b = [2,1,2.6327,6+7j,'pwskills',True]
#(iii)float
c = 425.728
#(iv)tuple
d = {234,23,'pwskills',54.53,4+5j,True}

In [ ]:
#Q2- Given are some following variables containing data:

#(i) var1=''
ans- type(var1)=str (string)
#(ii) var2='[DS,ML,PYTHON]'
ans- type(var2)=str (string)
#(iii) var3 = ['DS','ML','PYHTON']
ans- type(var3)= list
#(iv) var4= 1.
ans- type(var4)= int(integer)

In [ ]:
#Q3- Explain the use of following operators using an example:

#(i) / -
ans- / is used as a classic division operator and it is used to divide numbers,
for example- 5/ 2 = 2.5

#(ii) % -
ans- % is called as the modulo operator and it returns the remainder of dividing the left hand operand by right hand operand,
for example- 15% 4 = 3

#(iii) // -
ans- // is used as a floor division operator and it is used to divide numbers and give the answer in interger only,
for example- 5/ 2 = 2

#(iv) ** -
ans- ** is called as the exponential operator and it is used to raise the number on the left to the power of the exponent of the right,
for example- 5**3 = 125

In [1]:
#Q4- Create a list of length 10 of your choice containing multiple types of data. Using for loop, print the element and its data type.
#ans-

l = [1,23.4,6+5j,'ananya', True,23,'pwskills',False,54.34,879,4+8j]
for i in l:
    print(i, type(i))

1 <class 'int'>
23.4 <class 'float'>
(6+5j) <class 'complex'>
ananya <class 'str'>
True <class 'bool'>
23 <class 'int'>
pwskills <class 'str'>
False <class 'bool'>
54.34 <class 'float'>
879 <class 'int'>
(4+8j) <class 'complex'>

In [2]:
#Q6- Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
#ans-

l = [23,24,3,75,45,9,27,15,54,6,52,29,33,63,55,34,88,62,136,60,93,89,42,8654,32]
for i in l:
    if i % 3 == 0:
        print('Number is divisible by 3')
    else:
        print('Number is not divisible by 3')

Number is not divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3

In [ ]:
#Q7- What do ou understand about mutable and immutable data types? Give examples for both showing this property.

Ans- 
> Mutable data type- Mutable data refers to a database structure in which data can be changed.
Any data changes made simply overwrite and replace the previous record.
This means that previous iterations of data are lost unless there is a system of
back-ups and transaction logs that track changes.

For example- lists, dictionaries, and sets are mutable.

> Immutable data type- Immutable data types are those, whose values cannot be modified once they are created.
For example- integer, string, boolian, float, tuple etc